*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #101010;
}

h1{
    margin-top: -36px;
    color: #ffffff;
}

.painel{
    background-color: #0d0e12;
    height: 542px;
    width: 467px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 43px;
    box-shadow: -1px -8px 18px 18px #75657254;
}

img{
    width: 318px;
    height: 308px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top: 24px;
    border-radius: 7px;
    box-shadow: -1px -8px 18px 18px #ffffff0d;
}

#sim{
    width: 68px;
    height: 44px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background: black;
    color: #ffffff;
    box-shadow: -1px 1px 11px #c0b2cbd6;
    margin-top: 8px;
    margin-left: -77px;
    margin-right: 10px;
}

#nao{
    width: 68px;
    height: 44px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background: black;
    color: #ffffff;
    box-shadow: -1px 1px 11px #c0b2cbd6;
    margin-top: 8px;
    position: absolute;

}

#sim:hover{
    opacity: 0.5;
}

#sim:active{
    opacity: 0.3;
}

h5{
    font-size: 22px;
    margin-top: 5px;
    color: #ffffff;
}

@media screen and (max-width: 470px){
     
h1{
    margin-top: -36px;
    font-size: 22px;
    color: #ffffff
}

.painel{
    width: 326px;
    height: 502px;
}

img{
    width: 263px;
    height: 278px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 24px;
    border-radius: 7px;
    box-shadow: -1px -8px 18px 18px #ffffff0d;
}
}